

.h1-about, .h2-about {
    font-size: 42px;
  margin: 15% auto 2em auto;
  text-align: center;
  max-width: 60%;
  font-weight: 500;
}

.h2-about {
    margin-top: 8%;
}

.intro-text-about {
    text-align: center;
    max-width: 60%;
    margin: 0 auto 1.5em auto;
    line-height: 1.5em;
    font-size: 1.2em;
}

.about-container {
    position: relative;
}

.about-img {
    margin-left: 8%;
    margin-top: 8%;
    width: 50%;
    height: auto;
    z-index: 0;
}

.description-text-about-container {
    width: 40%;
    height: 80%;
    top: 15%;
    left: 50%;
    background-color: #F9F3EE;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5em 2em;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;

}

.description-text-about {
    text-align: left;
    font-size: 1.2em;
    max-width: 80%;
}
.about-values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.about-value-square {
    background-color: #E5EDE4;
    border-radius: 60px;
    height: auto;
    width: 15vw;
    aspect-ratio: 1/1.15;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 3em 1.5em;
    overflow: hidden;
    text-align: center;
    line-height: 1.5em;

}