
.h1-about, .h2-about {
    font-size: 42px;
  margin: 15% auto 2em auto;
  text-align: center;
  max-width: 100%;
  font-weight: 600;
}

.h2-about {
    margin-top: 8%;
}

.intro-text-about {
    text-align: center;
    max-width: 60%;
    margin: 0 auto 1.5em auto;
    line-height: 1.5em;
    font-size: 20px;
}

.about-container {
    position: relative;
    padding: 0 7.5vw;
    max-width: 100%;
    height: auto;
    margin-top: 10%;
}

.about-img {
	
	width: 69%;
	height: auto;
	
}

.description-text-about-container {
    width: 39%;
    height: 85%;
    top: 7%;
    left: 53%;
    background-color: #F9F3EE;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;

}

.description-text-about {
    text-align: left;
    font-size: 20px;
    max-width: 100%;
}
.about-values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
.about-value-square {
    background-color: #E5EDE4;
    border-radius: 60px;
    height: auto;
    width: 330px;
    aspect-ratio: 1/1.15;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 3em 1.5em;
    overflow: hidden;
    text-align: center;
    line-height: 1.5em;

}

.h2-home {
	font-size: 42px;
	margin: 0 auto 2em auto;
	line-height: 1.5em;
	text-align: center;
	max-width: 100%;
	font-weight: bold;
	font-style: oblique 10deg;
}

.home-main-text {
	max-width: 45%;
	line-height: 1.6em;
	text-align: center;
	margin: 0 auto 3em auto;
	font-size: 20px;
}

.nav-button {
	padding: 0.5em 1.5em;
	border: 2px solid black;
	border-radius: 23px;
	background-color: inherit;
	font-weight: 500;
	cursor: pointer;
	font-size: 20px;
	font-family: "mastro-display", sans-serif;
	color: black;
}