/* hero */


.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;

}


.h1-contact {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  line-height: 1.5em;
  font-style: oblique 10deg;
  display: inline-block;
  text-align: start;
  
}
.header-contact {
  position: relative;
  height: auto;
  width: 100%;
}
  

.h2-contact {
  font-family: "mastro-display", sans-serif;
  font-size: 42px;
  margin: 140px auto 150px auto;
  line-height: 1.5em;
  text-align: center;
  max-width: 740px;
  font-weight: 600;
  font-style: oblique 10deg;
}

/* page de contact */

.contact-main {
  padding: 0 5vw;
}

input {
  padding: 1em;
  margin-top: 40px;
  height: 60px;
  border: 1px solid black;
  width: 100%;
  color: black ;
  border-radius: 0;
  font-size: 1em;
}

 .label-contact {
  font-size: 26px;
  font-weight: 600;
  font-style: oblique 10deg;
  text-transform: uppercase;
  line-height: 1.5em;
}

.contact-info-container {
	display: flex;
	flex-direction: column;
	gap: 150px;
  max-width: 100%;
}

.contact-info-1, .contact-info-2 {
  background-color: #fff0dd;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 40px 20px 40px 60px;
  gap: 60px;
}

.contact-info-2 {
  padding: 40px;
  align-items: center;
  gap: 0;
}
.contact-info-text {
  text-align: start;
  font-size: 20px;
  max-width: 100%;
  font-weight: 400;
  line-height: 1.5em;
  
}

.contact-info-2 .contact-info-text {
  text-align: center;
  margin: 60px auto;
}
.titre-contact {
  text-align: start;
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 600;
  font-style: oblique 10deg;
}

.contact-info-2 .titre-contact {
  margin: 0 auto;
  text-align: center;
}

.free-call-text {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 20px;
  font-style: oblique 10deg;
  color: #0b2027;
  font-weight: 500;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 360px auto;
  column-gap: 90px;
  max-width: 100%;
  margin: 0 auto;
  
}

.contact-details-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  grid-row-gap: 60px;
  max-width: 100%;
  margin-bottom: 5em;
}

.request-details-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  grid-row-gap: 60px;
  max-width: 100%;
  margin: 0 auto 5em auto;
}

.request-details-container > .nav-button {
  margin: 0 auto 0 auto;
}

.textarea {
  width: 100%;
  height: 140px;
  resize: none;
  overflow: scroll;
  padding: 1em;
  font-size: 16px;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 0px;
  width: 100%;
}

.date,
.prices,
.known {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 0px;
  height: 60px;
  width: 100%;
  padding: 1em;
  font-size: 16px;
  margin-top: 40px;
  color: black;
  font-family: "mastro-display, sans-serif";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.prices, .known {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/img/triangle.svg') ;
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  

}

.radio-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 1em;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-right: 1em;
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  font-style: oblique 10deg;
}

.radio {
  height: 30px;
  width: 30px;
  margin-right: 1em;
  accent-color: #060708;
  margin-top: 0;
  
}

.contact-form-description {
  grid-column: span 6;
}
.contact-form-title {
  font-size: 32px;
  font-style: oblique 10deg;
  margin-bottom: 2em;
  font-weight: 600;
}
.contact-form-text {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.contact-details-activity, 
.contact-details-company,
.contact-details-firstname,
.contact-details-lastname
{
  grid-column: span 3;
}

.contact-details-email

 {
  grid-column: span 4;
}

.contact-details-phone
 
 {
  grid-column: span 2;
}



.asterisque {
  color: #ed6f4b;
  font-size: 1em;
}

@media screen and (max-width: 1190px) {
  .contact-info-1 {
    padding: 40px 5px 40px 25px;
  }

  .contact-grid-container {
    grid-template-columns: 300px auto;
    column-gap: 60px;
  }
}
/* Responsive Tablette  */

@media screen and (max-width: 1053px) {

  .h1-contact {
    font-size: 54px ;
  }

  .h2-contact {
    font-size: 34px;
    margin: 100px auto;
    width: 570px;
  }

  .contact-form-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
.label-contact, .titre-contact {
    font-size: 21px;
  }

  .titre-contact {
    margin-bottom: 30px;
  }

  .contact-info-1 {
   
    gap: 40px;
    padding: 63px 0 63px 63px;
  }

  .contact-info-2 {
    padding: 73px 30px;
    align-items: center;
    justify-content: center;
  }

  .contact-info-2 .contact-info-text {
    text-align: center;
    margin: 40px auto;
  }

  .contact-info-text, .contact-form-text, .radio-label, 
  .submit-button, .free-call-text, .textarea {
    font-size: 16px;
  }

  .contact-main {
    padding: 0;
  }

  .contact-details-container, .request-details-container {
    
    
    grid-row-gap: 40px;
    margin-bottom: 40px;
  }

  .contact-grid-container {
   display: flex;
   flex-direction: column;
  }

  .contact-info-container {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 40px;
    gap: 0;
  }

  .contact-info-1, .contact-info-2 {
    height: auto;
    width: 325px;
  }

  #contact-form {
    margin: 100px 100px 0 100px;
  }

  .request-details-container > .nav-button {
    border: 0.5px solid black;
    font-size: 16px;
    height: 40px;
    width: 160px;
  }

  input, .date, .prices, .known {
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
  }

  .radio-button-container {
    margin-top: 30px;
  }

  .textarea {
    margin-top: 30px;
  }

  .contact-info {
    padding: 2.5em 1.5em;
  }

  .radio-button-container {
    justify-content: start;
  }

  .radio {
    height: 24px;
    width: 28px;
    margin-right: 15px;
    
  }

}

/* Responsive Mobile */

@media screen and (max-width: 740px) {

  .h1-contact {
    font-size: 36px;
    max-width: 100%;
    margin: 0 15px;
    text-align: center;
  }

  .h2-contact {
    font-size: 28px;
    max-width: 330px;
    margin: 70px auto;
  }

  .contact-info-1, .contact-info-2 {
    width: 250px;
  }

  .contact-info-1 {
    padding: 40px 50px;
    gap: 30px;
  }

  .contact-info-2 {
    padding: 50px 20px;
  }

  .contact-info-2 .contact-info-text {
    margin: 30px auto;
  }

  .titre-contact {
    margin-bottom: 20px;
  }

  .contact-form-title, .titre-contact {
    font-size: 22px;
  }

  .label-contact {
    font-size: 18px;
  }

  .contact-info-text, .contact-form-text, .radio-label,
   .submit-button, .free-call-text, .textarea {
    font-size: 14px;
  }

  #contact-form {
    margin: 70px 35px;
  }

  /* #email {
    width: calc(65% - 5px);
  }

  #tel {
    width: calc(35% - 5px);
  } */

  input, .date, .prices, .known, .textarea {
    margin-top: 20px;
  }

  .textarea {
    height: 80px;
  }

  input, .date, .prices, .known {
    height: 40px;
    font-size: 12px;
  }

 .contact-details-company, .contact-details-activity {
    grid-column: span 6;
  }

  .contact-grid-container {
    display: flex;
    
    max-width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .request-details-container {
    grid-row-gap: 2em;
  }

  .hide {
    display: none;
  }

 

  .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 70%;
    margin: 0 auto;
  }

  .contact-details-container {
    gap: 10px;
    grid-row-gap: 30px;
    margin-bottom: 30px;
  }
  .radio {
    height: 18px;
    width: 22px;
  }
  .request-details-container > .nav-button {
    margin: 0 auto;
    font-size: 12px;
  }

}