* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Typographie */

body {
  font-family: "mastro-display", sans-serif;
  font-weight: 500;
  color: #060708;
  overflow-x: hidden;
}

em,
.italic-title {
  font-family: "tangier", sans-serif;
  font-size: 1.5em;
  font-style: oblique 10deg;
  margin: 0 2px;
  line-height: 0.5em;
}

.italic-title {
  font-weight: bold;
}
em {
  font-weight: 800;
}

br {
  display: inherit;
}

/* Barre de navigation */


  .nav-button,
  a {
    font-size: 20px;
  }
  .logo {
    width: 175px;
    height: auto;
  }

.nav-bar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0 7.5vw;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.nav-button-container,
.nav-link-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.nav-button-container {
  justify-content: flex-end;
  gap: 10%;
}

.nav-link-container {
  justify-content: flex-start;
  gap: 10%;
}
.menu-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  gap: 3px;
}

.triangle {
  width: 15px;
  height: auto;
}

.menu-scroll:hover .triangle {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

#menu-scroll-middle {
  position: relative;
}

#menu-scroll-container {
  max-height: 500px;
  height: auto;
  width: 200%;
  background-color: #ffffff;
  position: absolute;
  top: 66px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.5em;
  z-index: 3;
  padding: 1.5em;
  box-shadow: 0px 3px 6px #00000029;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none;
  overflow: hidden;
}

.menu-scroll-text {
  font-size: 1em;
}

li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.logo-link {
  display: flex;
  justify-content: center;
  width: 12%;
}

.nav-button {
  padding: 0.5em 1.5em;
  border: 2px solid black;
  border-radius: 23px;
  background-color: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  font-family: "mastro-display", sans-serif;
  color: black;
}
#nav-mobile-menu {
  display: none;
}

.sub-logo {
  width: 195px;
  height: auto;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 48%);
  fill: black;
}

@media screen and (max-width: 1250px) {
  
  .nav-button-container, .nav-link-container {
    gap: 3%;
  }

  .nav-button-container a, .nav-link-container a {
    font-size: 16px;
  }
}

@media (hover: none) {
  .nav-link-container,
  .nav-button-container {
    display: none;
  }

  .nav-bar {
    height: 85px;
    position: fixed;
  }

  .nav {
    position: relative;
    height: 100%;
  }

  #nav-mobile-menu {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
  }

  .logo {
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#mobile-scroll-container {
  max-height: 700px;
  height: auto;
  width: 75%;
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1em;
  z-index: 3;
  box-shadow: 0px 3px 6px #00000029;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none;
  padding: 3em 2em;
  overflow-y: scroll;
}

.dropdown-menu-line {
  border: 1px solid #c3c5c97d;
  width: 100%;
  margin: auto;
}

.dropdown-menu-line-services {
  border: 1px solid #c3c5c97d;
  width: 95%;
  margin-left: auto;
}

.mobile-dropdown-menu > .menu-scroll-text, .dropdown-menu-services {
  margin-left: 1em;
  font-weight: 500;
  font-size: 16px;
}

.dropdown-menu-services {
  margin-left: 2em;
}



/* Style des input text  */

input {
  padding: 1em;
  margin-top: 1em;
  height: 60px;
  border: 1px solid black;
  width: 100%;
  font-size: 1.2em;
}

/* Header */

.header {
  position: relative;
  height: auto;
}
.header-img {
  width: 100%;
  min-height: 70vh;
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* pied de page */

.footer {
  background-color: #0b2027;
  height: auto;
  padding: 3em 1.2em 1.5em 1.2em;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  text-align: center;
}

.footer-title {
  font-size: 1.5em;
  color: #ffffff;
  font-style: oblique 10deg;
  margin-bottom: 0.5em;
}

.footer-link,
.footer-copyright-text {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-style: oblique 10deg;
}

.footer-copyright-text {
  font-style: normal;
  line-height: 2em;
}
.footer-link-space {
  margin: 0 4px;
  font-weight: 100;
  font-size: 25px;
  font-family: sans-serif;
}

.footer-social-icons {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%)
    contrast(101%);
  width: 25px;
  height: auto;
  cursor: pointer;
  margin-right: 4px;
}
.footer-logo {
  width: 95px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%)
    contrast(101%);
}

.footer-copyright-logo {
  font-weight: bold;
  font-size: 25px;
  margin-right: 0.25em;
  vertical-align: middle;
  font-family: sans-serif;
}
.footer-copyright {
  margin-top: 5em;
}

.bio,
.contact {
  background-color: #fceccc;
  width: 100%;
  height: auto;
  padding: 10% 2%;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.contact {
  background-color: #f9f3ee;
}


/* Responsive Tablette  */

@media screen and (max-width: 1023px) {
  
  /* barre de navigation */
  
  .nav {
    height: 85px;
    position: relative;
  }
  .nav-link-container,
  .nav-button-container {
    display: none;
  }

  #nav-mobile-menu {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
  }

  .logo {
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Pied de Page  */

  .footer-title {
    font-size: 17px;
  }


  .footer-copyright-text {
    width: 100%;
    font-size: 12px;
  }

  .footer-copyright-text {
    width: 100%;
    font-size: 13px;
  }

}

/* Responsive Mobile */

@media screen and (max-width: 601px) {

  input {
    font-size: 13px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }
  .footer-copyright {
    margin-top: 2em;
  }
  .footer-content {
      gap: 0.7em;
    }
  .footer-title {
    font-size: 17px;
  }

  .footer-logo {
    width: 55px;
  }

  .footer-social-icons {
    width: 15px;
  }
  .footer-copyright-text {
    font-size: 12px;
  }

  .footer-link-space {
    font-size: 15px;
  }

}