* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* Typo et Textes */


body {
  font-family: mastro-display, sans-serif;
  font-weight: 500;
  color: #060708;
  
}

em {
  font-family: tangier, sans-serif;
  font-size: 1.5em;
  font-style: oblique 10deg;
  font-weight: 800;
  margin: 0 2px;
  line-height: 0.5em;
}


/* Barre de navigation */

.nav-bar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  
}

.nav-button-container,
.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 1.5em;
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  gap: 3px;
  
}

.triangle {
  width: 15px;
  height: auto;
}

.menu-scroll:hover .triangle {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

#menu-scroll-middle {
  position: relative;
}


#menu-scroll-container {
	max-height: 500px;
  height: auto;
	width: 180%;
	background-color: #ffffff;
	position: absolute;
	top: 60px;
	display: flex;
	justify-content: center;
  align-items: start;
	flex-direction: column;
  gap: 1.5em;
  z-index: 3;
  padding: 1.5em;
  box-shadow: 0px 3px 6px #00000029;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none;
  overflow: hidden;
}

.menu-scroll-text {
  font-size: 1em;
}

li {
  list-style: none;
  
}
a {
  color: black;
  text-decoration: none;
  
}

.logo-link {

  display: flex;
  justify-content: center;
  width: 12%;
}
.logo {
  width: auto;
  height: 80px;
}

.nav-button {
  padding: 0.5em 1.5em;
  border: 2px solid black;
  border-radius: 23px;
  background-color: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}
#nav-mobile-menu {
  display: none;
}

@media (hover: none) {
  
  .nav-link-container, .nav-button-container {
    display: none;
  }
.nav-bar {
  position: static;
}
.nav {
  position: relative;
  
}

  #nav-mobile-menu {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
}

#mobile-scroll-container {
  max-height: 500px;
  height: auto;
	width: 75%;
	background-color: #ffffff;
	position: absolute;
	top: 61px;
  left: 20%;
	display: flex;
	justify-content: center;
  align-items: start;
	flex-direction: column;
  gap: 1.5em;
  z-index: 3;
  padding: 1.5em;
  box-shadow: 0px 3px 6px #00000029;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none;

  
}
/* iframe Instagram */

.social-iframe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 5em;
}

.square {
  border: 1px solid black;
  width: auto;
  height: 250px;
  aspect-ratio: 1 / 1.15;
}

/* Style des input text  */

input {
  padding: 1em;
  margin-top: 1em;
  height: 60px;
  border: 0.5px solid black;
  width: 100%;
  font-size: 1.2em;
}

/* pied de page */

.footer {
  background-color: #0b2027;
  height: auto;
  padding: 6% 0 1.5em 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5em;
  text-align: center;
}

.footer-title {
  font-size: 1.6rem;
  color: #ffffff;
}

.footer-link {
  font-size: 1.2em;
  color: #ffffff;
}

.footer-social-icons-container {
  display: inline-block;
}

.footer-social-icons {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%)
    contrast(101%);
  width: 30px;
  height: auto;
  cursor: pointer;
}
.footer-logo {
  width: 95px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%)
    contrast(101%);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 5em;
  flex-wrap: wrap;
  font-size: 16px;
}


.bio,
.contact {
  background-color: #fceccc;
  width: 100%;
  height: auto;
  padding: 10%;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.h2-bio {
  font-size: 2.5rem;
  margin: 0 auto 2em auto;
  line-height: 1.5em;
  text-align: center;
  max-width: 70%;
  font-weight: 600;
}
.contact {
  background-color: #f9f3ee;
}



/* responsive bar de navigation et footer */

@media screen and (max-width: 1300px) {
 
  .nav-button {
    font-size: 1em;
  }

  .nav-button-container,
  .nav-link-container {
    gap: 1em;
    font-size: 1em;
  }

  .menu-scroll {
    margin: 0 1%;
  }

  .logo {
    height: 50px;
  }

  .nav {
    height: 85px;
  }

  #menu-scroll-container {
    top: 54px;
  }

}

@media screen and (max-width: 1030px) {
  
  .footer-container {
    justify-content: space-evenly;
    gap: 0;
  }
}

@media screen and (max-width: 750px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5em 1.5em;
  }

  .social-iframe {
    margin: 2em;
  }
  .square {
    height: 200px;
  }

}

/* Affichage Nav Bar Tactile */

@media screen and (max-width: 870px) {

  .nav-link-container, .nav-button-container {
    display: none;
  }

.nav {
  position: relative;
  
}

  #nav-mobile-menu {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .square {
    height: 100px;
  }
}

