/* Typographie */

.header-text {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.services {
  color: #ffffff;
  font-size: 28px;
  text-decoration: underline;
}

.job {
  font-size: 32px;
  font-weight: 550;
}

.home-main-text {
  max-width: 45%;
  line-height: 1.6em;
  text-align: center;
  margin: 0 auto 3em auto;
  font-size: 20px;
}

.h1-home {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  text-align: start;
  max-width: 100%;
  margin: auto;
  line-height: 1.5em;
  font-style: oblique 10deg;
}

.h2-home {
  font-size: 42px;
  margin: 0 auto 2em auto;
  line-height: 1.5em;
  text-align: center;
  max-width: 100%;
  font-weight: bold;
  font-style: oblique 10deg;
}

.home-intro-text > .h2-home {
  text-align: center;
  margin-top: 5em;
}

.home-intro-text > .home-main-text {
  max-width: 60%;
}

.h3-home {
  font-size: 26px;
  font-weight: 600;
  font-style: oblique 10deg;
}

.block-text {
  margin: 1.5em 0;
  font-size: 20px;
  line-height: 1.5em;
}

/* Mise en Page  */

.home-core {
  padding: 0 7.5vw;
}

.block-1,
.block-2,
.block-3 {
  display: flex;
  align-items: flex-start;
  gap: 4%;
  max-width: 100%;
  margin-top: 8%;
}

.block-1 {
  justify-content: flex-start;
}

.block-2 {
  justify-content: flex-end;
}

.block-text-right {
  margin-top: 3%;
  width: 29%;
  text-align: right;
}

.block-text-left {
  width: 39%;
  margin-top: 3%;
}

.block-img-1,
.block-img-2 {
  max-width: 100%;
  height: auto;
}

.block-img-1 {
  width: 50%;
}
.block-img-2 {
  width: 60%;
}
.block-img-vertical {
  height: auto;
  width: 34%;
  margin-left: 16%;
  max-width: 100%;
}

.vertical-img {
  height: auto;
  width: 30%;
  max-width: 100%;
  display: block;
  margin-left: 28%;
  margin-top: 4%;
}

.last-img {
  height: auto;
  width: 45%;
  max-width: 100%;
  margin-top: 3%;
  margin-left: 28%;
}
/* 
Dernière Réalisation */

.latest {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
  max-width: 100%;
}

.latest-img-gallery {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 10px;
  margin: 0 auto 3% auto;
  flex-wrap: wrap;
}

.latest-img {
  width: 300px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1.15;
}

@media (hover: none) {
  .latest-img-gallery {
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    overflow-y: hidden;
  }
  .latest-img-gallery::-webkit-scrollbar {
    display: none;
  }
  .latest-img {
    width: auto;
    height: 300px;
  }

  .latest-img:hover {
    transition: none;
    transform: none;
  }
}

.latest-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* ressources offertes */

.tools-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 15%;
  width: 60%;
  margin: 0 auto;
}

.tools-container > *:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.tools-container > *:nth-child(5) {
  grid-area: 1 / 2 / 2 / 2;
}

.tools-container > *:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  margin: 50px auto 40px auto;
}

.tools-container > *:nth-child(6) {
  grid-area: 2 / 2 / 3 / 3;
  margin: 50px auto 40px auto;
}

.tools-container > *:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
  max-width: 100%;
  padding: 0 4px;
}

.tools-container > *:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
  max-width: 100%;
  padding: 0 4px;
}

.tools-container > .nav-button {
  width: 220px;
  margin: 8% auto 0 auto;
  text-align: center;
}
.tools-img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-height: 550px;
  aspect-ratio: 1 / 1.2;
}

.tools-text {
  text-align: justify;
  font-size: 20px;
  hyphens: auto;
  overflow: hidden;
  line-height: 1.5em;
}
/* formulaire de contact */

.home-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  border: none;
  margin-bottom: 2em;
}

.home-input-container {
  display: flex;
  gap: 1em;
  margin-bottom: 4em;
  width: 50%;
}

.home-form-label {
  max-width: 70%;
}

.label-text {
  margin-left: 2em;
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}

.home-name {
  width: 35%;
}
.home-email {
  width: 65%;
}

/* Responsive */

@media screen and (max-width: 1250px) {
  .home-core,
  .nav-bar {
    padding: 0 3vw;
  }

  .h1-home {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .block {
    padding: 0.5em;
  }

  .block-1 {
    width: 100%;
  }
  .block-img {
    width: 45vw;
    max-width: 100%;
    height: auto;
  }

  .block-text-right,
  .block-text-left {
    margin-top: 0;
    margin-bottom: 1em;
    width: 55vw;
    font-size: 16px;
  }

  .home-input-container {
    width: 30%;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .home-email,
  .home-name {
    width: 100%;
    height: 50px;
  }

  /* Taille des fonts */

  .h1-home {
    font-size: 36px;
  }

  .h2-home {
    font-size: 28px;
  }

  .h3-home {
    font-size: 20px;
  }

  .block-text,
  .home-main-text,
  .tools-text {
    font-size: 16px;
  }

  .home-main-text {
    max-width: 60%;
  }

  .sub-logo {
    width: 150px;
  }
}

/* 
Mise en page Mobile et Tablette */

@media screen and (max-width: 750px) {
  .block-1,
  .block-2,
  .block-3 {
    padding: 0.5em;
    flex-direction: column;
  }

  .block-img-1,
  .block-img-2 {
    width: 85%;
    margin: 0 auto 1.2em auto;
  }

  .block-text-right,
  .block-text-left {
    width: 85%;
    order: 1;
    text-align: center;
    margin: 0 auto 1em auto;
  }

  .vertical-img {
    width: 50%;
    margin-left: 13%;
    margin-top: 5%;
  }

  .block-img-vertical {
    width: 50%;
    margin: 0 auto 2em auto;
  }

  .last-img {
    width: 70%;
    margin-top: 3%;
    margin-left: 20%;
  }

  .header-text {
    gap: 1.5em;
    width: 95%;
  }

  .job {
    font-size: 1.5em;
  }

  .services {
    font-size: 1em;
  }

  .sub-logo {
    width: 100px;
  }

  .h3-home {
    font-size: 18px;
  }
  .h2-home {
    margin: 0 auto 1em auto;
    font-size: 19px;
    max-width: 95%;
  }

  .home-main-text,
  .block-text,
  .tools-text {
    max-width: 90%;
    text-align: start;
    margin-bottom: 2em;
  }

  .bio,
  .contact {
    padding: 1.5em 0.5em;
  }

  .home-input-container {
    width: 90%;
  }

  .tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 60%;
  }
  .tools-container > .nav-button {
    width: 200px;
    margin-bottom: 2.5em;
  }

  .tools-container > .h3-home {
    margin: 25px 0 15px 0;
  }

  .tools-img {
    max-width: 100%;
  }

  .home-core {
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .h1-home {
    font-size: 21px;
  }

  .job {
    font-size: 16px;
  }

  .services {
    font-size: 16px;
  }
}

@media screen and (max-height: 450px) {
  .sub-logo {
    width: 100px;
  }

  .header-img {
    height: 120vh;
  }
}
