/* Typographie */

.header-text {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.services {
  color: #ffffff;
  font-size: 28px;
  text-decoration: underline;
}

.job {
  font-size: 32px;
  font-weight: 550;
}

.home-main-text {
  max-width: 45%;
  line-height: 1.6em;
  text-align: center;
  margin: 0 auto 3em auto;
  font-size: 20px;
}

.h1-home {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  text-align: start;
  max-width: 100%;
  margin: auto;
  line-height: 1.5em;
  font-style: oblique 10deg;
}

.h2-home {
  font-size: 42px;
  margin: 0 auto 2em auto;
  line-height: 1.5em;
  text-align: center;
  max-width: 100%;
  font-weight: bold;
  font-style: oblique 10deg;
}

.home-intro-text > .h2-home {
  text-align: center;
  margin-top: 4em;
}

.home-intro-text > .home-main-text {
  max-width: 60%;
}

.h3-home {
  font-size: 26px;
  font-weight: 600;
  font-style: oblique 10deg;
}

.block-text {
  margin: 1.5em 0;
  font-size: 20px;
  line-height: 1.5em;
}

/* Mise en Page  */

main {
  overflow: hidden;
}

.home-core {
  padding: 0 7.5vw;
}

.block-2 {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  max-width: 100%;
  justify-content: flex-end;
  margin-bottom: 170px;
}

.block-1 {
  display: grid;
  grid-template-columns: 50% 39%;
  grid-template-rows: auto auto;
  row-gap: 93px;
  column-gap: 60px;
  max-width: 100%;
  margin-top: 10%;
  margin-bottom: 170px;
}

.block-3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 60px;
  row-gap: 60px;
  width: 100%;
  margin-left: 16%;
}

.block-3 > .block-text-left {
  width: 63%;
}

.block-text-right {
  margin-top: 2.5em;
  max-width: 29%;
  text-align: right;
}

.block-text-left {
  max-width: 100%;
  margin-top: 2.5em;
}

.block-img-1,
.block-img-2 {
  max-width: 100%;
  height: auto;
}

.block-img-1 {
  max-width: 100%;
}
.block-img-2 {
  max-width: 60%;
}
.block-img-vertical {
  height: auto;
  max-width: 100%;
}

.vertical-img {
  height: auto;
  max-width: 37%;
  display: block;
  margin-left: 23%;
  grid-column: span 2;
}

.last-img {
  height: auto;
  width: 60%;
  max-width: 100%;
  margin-left: 5%;
  grid-column: span 2;
}
/* 
Dernière Réalisation */

.latest {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
  max-width: 100%;
}

.latest-img-gallery {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 10px;
  margin: 0 auto 3% auto;
}

.latest-img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1.15;
  height: auto;
}

@media (hover: none) {
  .latest-img-gallery {
    max-width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    overflow-y: hidden;
  }
  .latest-img-gallery::-webkit-scrollbar {
    display: none;
  }
  .latest-img {
    height: 210px;
    width: auto;
  }

  .latest-img:hover {
    transition: none;
    transform: none;
  }
}

.latest-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* ressources offertes */

.tools-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 15%;
  width: 60%;
  margin: 0 auto;
}

.tools-container > *:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.tools-container > *:nth-child(5) {
  grid-area: 1 / 2 / 2 / 2;
}

.tools-container > *:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  margin: 50px auto 40px auto;
}

.tools-container > *:nth-child(6) {
  grid-area: 2 / 2 / 3 / 3;
  margin: 50px auto 40px auto;
}

.tools-container > *:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
  max-width: 100%;
  padding: 0 4px;
}

.tools-container > *:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
  max-width: 100%;
  padding: 0 4px;
}

.tools-container > .nav-button {
  width: 220px;
  margin: 8% auto 0 auto;
  text-align: center;
  order: 6;
}
.tools-img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-height: 550px;
  aspect-ratio: 1 / 1.2;
}

.tools-text {
  text-align: justify;
  font-size: 20px;
  hyphens: auto;
  overflow: hidden;
  line-height: 1.5em;
}
/* formulaire de contact */

.home-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  border: none;
  margin-bottom: 2em;
}

.home-input-container {
  display: flex;
  gap: 1em;
  margin-bottom: 4em;
  width: 50%;
}

.home-form-label {
  max-width: 70%;
}

.label-text {
  margin-left: 2em;
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}

.home-name {
  width: 35%;
}
.home-email {
  width: 65%;
}

/* Responsive Tablette  */

@media only screen and (max-width: 1030px) {
  .home-core {
    padding: 0 5vw;
  }

  .h1-home {
    font-size: 50px;
  }
  .services,
  .job {
    font-size: 18px;
  }
  .h2-home {
    font-size: 30px;
  }

  .bio > .h2-home,
  .contact > .h2-home {
    font-size: 25px;
  }

  .h3-home {
    font-size: 19px;
  }

  .home-main-text,
  .tools-text,
  .block-text,
  .footer-link {
    font-size: 13px;
    max-width: 80%;
  }
  .block-text {
    max-width: 100%;
  }
  .home-intro-text > .home-main-text {
    max-width: 82%;
  }

  .nav-button,
  .tools-container > .nav-button {
    width: 139px;
    font-size: 13px;
    border: 1px solid black;
    padding: 0.5em 0;
  }

  .tools-container {
    column-gap: 7%;
    width: 90%;
  }


  .home-input-container {
    width: 80%;
    margin-bottom: 2em;
  }
  input {
    height: 40px;
  }

  input::placeholder {
    font-size: 13px;
  }

  .block-1 {
    column-gap: 1em;
    row-gap: 50px;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 110px;
  }

  .block-2 {
    margin-top: 0;
    margin-bottom: 110px;
    gap: 1em;
    align-items: center;
  }

  .block-3 {
    margin-top: 0;
    margin-left: 8%;
    row-gap: 50px;
    column-gap: 1em;
  }

  .block-3 > .block-text-left {
    min-width: 85%;
    margin-top: 1em;
  }

  .block-text-right {
    margin-top: 0;
    max-width: 100%;
  }

  .block-text-left,
  .block-text-right {
    margin-top: 0;
  }
}

/* Responsive Mobile */

@media screen and (max-width: 600px) {
  .home-core {
    padding: 0 30px;
  }
  .h1-home {
    font-size: 21px;
  }
  .services,
  .job {
    font-size: 13px;
  }
  .h2-home {
    font-size: 19px;
  }

  .bio > .h2-home,
  .contact > .h2-home {
    font-size: 18px;
  }

  .h3-home {
    font-size: 17px;
  }

  .home-main-text,
  .block-text,
  .tools-text {
    font-size: 12px;
    max-width: 100%;
    text-align: start;
  }

  .home-intro-text > .home-main-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 4em;
  }

  .nav-button,
  .tools-container > .nav-button {
    width: 133px;
    font-size: 12px;
  }

 

  .block-1,
  .block-2,
  .block-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin: 1em auto;
  }

  .block-text-left,
  .block-text-right {
    max-width: 100%;
    margin-top: 2.5em;
    text-align: center;
    order: 1;
  }

  .block-img-1 {
    max-width: 80%;
    margin-bottom: 2em;
  }

  .block-img-2,
  .last-img {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .vertical-img,
  .block-img-vertical {
    max-width: 60%;
    margin: 0 auto;
  }

  .last-img {
    margin: 2em auto;
  }

  .block-3 > .block-text-left {
    margin-top: 0;
  }

  .tools-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools-container > :nth-child(1),
  .tools-container > :nth-child(5) {
    max-width: 80%;
    margin-top: 0.5em;
  }

  .tools-container > :nth-child(2),
  .tools-container > :nth-child(6) {
    margin: 1.5em auto 1em auto;
  }

  .nav-button,
  .tools-container > .nav-button {
    order: 0;
    margin-bottom: 3em;
  }

  .bio,
  .contact {
    padding: 10% 30px;
    margin-top: 2.5em;
    margin-bottom: 4em;
  }

  .home-input-container {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    margin-top: -2em;
  }

  .home-email,
  .home-name {
    width: 100%;
  }
}

/* Mode Paysage Header  */

@media only screen and (max-height: 1024px) and (orientation: landscape) {
  .h1-home {
    font-size: 50px;
  }

  .services,
  .job {
    font-size: 18px;
  }


  .tools-container {
    width: 90%;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .h1-home {
    font-size: 21px;
  }

  .services,
  .job {
    font-size: 13px;
  }

  

}
