/* Header */

.header {
  position: relative;
  height: auto;
}
.header-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-height : 500px)  {
  .header-img {
    height: 120vh;
  }

  .sub-logo {
    width: 100px;
  }
}

.sub-logo {
  width: 195px;
  height: auto;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 48%);
  fill: black;
}

/* Typographie */

.header-text {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.services {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: underline;
}

.job {
  font-size: 2em;
  font-weight: 550;
}

.home-main-text {
  max-width: 70%;
  line-height: 1.6em;
  text-align: center;
  max-width: 50%;
  margin: 0 auto 3em auto;
  font-size: 1.2em;
}

.h1-home {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  text-align: start;
  max-width: 100%;
  margin: auto;
  line-height: 1.5em;
}

.h2-home {
  font-size: 2.5rem;
  margin: 0 auto 2em auto;
  line-height: 1.5em;
  text-align: center;
  max-width: 70%;
  font-weight: 600;
  font-style: oblique 10deg;
}

.home-intro-text > .h2-home {
  text-align: center;
  margin-top: 5em;
}

.h3-home {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: oblique 10deg;
}

.block-text {
  margin: 1.5em auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Mise en Page  */

.home-intro-text {
  text-align: center;
  margin: 3em auto 5em auto;
  width: 100%;
  line-height: 2em;
}
.block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4%;
  max-width: 100%;
  margin-top: 8%;
}

.block-text-right,
.block-text-left {
  margin-top: 3%;
  width: 30%;
}

.block-text-right {
  text-align: right;
}

.block-img {
  width: 45%;
  max-width: 100%;
  height: auto;
}

.block-img-vertical {
  height: auto;
  width: 30%;
  margin-left: 15%;
  max-width: 100%;
}

.vertical-img {
  height: auto;
  width: 30%;
  max-width: 100%;
  display: block;
  margin-left: 30%;
  margin-top: 4%;
}

.last-img {
  height: auto;
  width: 45%;
  max-width: 100%;
  margin-top: 3%;
  margin-left: 32%;
}
/* 
Dernière Réalisation */

.latest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
  width: 100%;
}

.latest-img-gallery {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 10px;
  margin: 0 3% 3%;
  flex-wrap: wrap;
}

.latest-img {
  width: 250px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1.15;
}

@media (hover: none) {
  .latest-img-gallery {
    max-width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    overflow-y: hidden;
  }
  .latest-img-gallery::-webkit-scrollbar {
    display: none;
  }
  .latest-img {
    width: auto;
    height: 400px;
  }

  .latest-img:hover {
    transition: none;
    transform: none;
  }
}

.latest-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


/* ressources offertes */

.tools-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 1.5em;
  column-gap: 5em;
  width: 60%;
  margin: 0 auto;
}

.tools-container > *:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.tools-container > *:nth-child(5) {
  grid-area: 1 / 2 / 2 / 2;
}

.tools-container > *:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
}

.tools-container > *:nth-child(6) {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
}

.tools-container > *:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
  max-width:100%;
  padding: 0 4px;
}

.tools-container > *:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
  max-width:100%;
  padding: 0 4px;
}

.tools-container > .nav-button {
  width: 220px;
  margin: auto;
  text-align: center;
}
.tools-img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-height: 550px;
  aspect-ratio: 1 / 1.2;
}

.tools-text {
  text-align: justify;
  font-size: 1.2em;
  hyphens: auto;
  overflow: hidden;
  line-height: 1.5em;
}
/* formulaire de contact */

.home-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  border: none;
  margin-bottom: 2em;
}

.home-input-container {
  display: flex;
  gap: 1em;
  margin-bottom: 4em;
  width: 50%;
}

.home-form-label {
  max-width: 70%;
}

.label-text {
  margin-left: 2em;
  font-size: 20px;
  margin-bottom: 0.5em;
  display: inline-block;
}

.home-name {
  width: 35%;
}
.home-email {
  width: 65%;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  /* taille des fonts  */

  .h1-home {
    font-size: 2.2rem;
  }

  .h2-home {
    font-size: 1.9rem;
  }

  .h3-home,
  .footer-title {
    font-size: 1.3rem;
  }

  .block-text,
  .home-main-text,
  .tools-text,
  .footer-link {
    font-size: 1em;
  }

  .sub-logo {
    width: 150px;
  }
}

@media screen and (max-width: 1030px) {
  .block {
    padding: 0.5em;
  }

  .block-1 {
    width: 100%;
  }
  .block-img {
    width: 45vw;
    max-width: 100%;
    height: auto;
  }

  .block-text-right,
  .block-text-left {
    margin-top: 0;
    margin-bottom: 1em;
    width: 55vw;
  }

  .h2-home {
    max-width: 80%;
  }
  .home-main-text,
  .block-text,
  .tools-text {
    max-width: 80%;
  }

  .home-input-container {
    width: 30%;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .home-email,
  .home-name {
    width: 100%;
    height: 50px;
  }

}

/* 
Mise en page Mobile et Tablette */

@media screen and (max-width: 750px) {
  .block {
    padding: 0.5em;
    flex-direction: column;
  }

  .block-img {
    width: 85%;
    margin: 0 auto 1.2em auto;
  }

  .block-text-right,
  .block-text-left {
    width: 85%;
    order: 1;
    text-align: center;
    margin: 0 auto 1em auto;
  }

  .vertical-img {
    width: 50%;
    margin-left: 13%;
    margin-top: 5%;
  }

  .block-img-vertical {
    width: 50%;
    margin: 0 auto 2em auto;
  }

  .last-img {
    width: 70%;
    margin-top: 3%;
    margin-left: 20%;
  }


  .header-text {
    gap: 1.5em;
    width: 95%;
  }

  .job {
    font-size: 1.5em;
  }

  .h1-home {
    font-size: 1.8rem;
    text-align: center;
  }

  .services {
    font-size: 1em;
  }

  .sub-logo {
    width: 100px;
  }
  .h2-home {
    max-width: 90%;
    margin: 0 auto 1em auto;
    font-size: 1.5rem;
  }

  .home-main-text,
  .block-text,
  .tools-text {
    max-width: 90%;
    text-align: start;
  }

  .bio,
  .contact {
    padding: 2em;
  }

  .home-input-container {
    width: 90%;
  }

  .tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 60%;
  }
  .tools-container > .nav-button {
    width: 200px;
    margin-bottom: 2.5em;
  
  }

  .tools-img {
    max-width: 100%;
  }
}